<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Basel2Tests</td><td>Basel2RunTests.runTests()[pri:0, instance:rbb.bg.basel2.Basel2RunTests@2525ff7e]<br/></td></tr>
<tr><td>RBBLookUp</td><td>Basel2RunTests.runTests2()[pri:0, instance:rbb.bg.basel2.Basel2RunTests@2525ff7e]<br/></td></tr>
</table>
