<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a38d86">  <td>18/04/20 16:30:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basel2RunTests.runTests()[pri:0, instance:rbb.bg.basel2.Basel2RunTests@2525ff7e]">runTests</td> 
  <td>main@6444850</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>18/04/20 16:30:03</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Basel2RunTests.runTests2()[pri:0, instance:rbb.bg.basel2.Basel2RunTests@2525ff7e]">runTests2</td> 
  <td>main@6444850</td>   <td></td> </tr>
</table>
